*{
    font-family: "Poppins", sans-serif;
}
hr{
    border: none;
    height: 1px;
    background-color: #D9D9D9;
    font-size: 80px;
}
#footer-container{
    display: flex;
    gap: 150px;
    flex-direction: row;
    justify-content: center; /* Optional: Centers footer content */
    align-items: flex-start; /* Ensures items align to the top */
}
.footer-link{
    color: #000;
text-decoration: none;
}
.footer-link:hover{
    color: #B88E2F;
}
button{
    background-color: white;
    border: none;
}
input{
    width: 110px;
    border: none;
    margin-left: 10px;
}
input:focus{
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
}
input::placeholder{
    color: #897a67;
}
#input-container{
    padding: 2px;
width: 160px;
border: #B88E2F 1px solid;
}
i{
    font-size: 18px;
    color: #B88E2F;
}
#up{
    height: 25px;
    width: 25px;
    border-radius: 5px;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}
#icon{
    height: 35px;
    width: 35px;
    border-radius: 5px;
    border: #B88E2F solid 2px;
    padding: 5px;
    padding-bottom: 12px;
    font-size: 30px;
}
#icon:hover{
    color: white;
    background-color:#B88E2F ;
}
#copy-right{
    font-size: 11px;
    padding-left: 5%;
}
.second-hr{
    width: 90%;

}
div{
    padding: 15px 0px;
}
